/* src/Components/CopyIcon.css */
.copy-icon-container {
    display: flex;
    cursor: pointer;
    transition: transform 0.2s;
    padding-top: 5px;
  }
  
  .copy-icon-container:hover {
    transform: scale(1.1);
  }
  
  @keyframes copy-bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  .copy-icon-container:active .copy-icon {
    animation: copy-bounce 0.5s;
  }
  